body {
  background: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 696px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 170px;
  left: 555px;
}

.instructions {
  height: 300px;
  width: 512px;
  position: absolute;
  left: 760px;
  top: 24px;
}

h1, h2 {
  font-family: 'Rock Salt', cursive;
  color: #cc3300;
  text-shadow: 2px 2px #000;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  margin-bottom: -83px;
  margin-left: -74px;
}
.instructions > p {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3em;
}

.hover {
  margin-left: -18px;
}

.click {
  padding-left: 42px;
}
